<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MenuConfiguration" type="MenuConfiguration.MenuConfigurationSection, MenuConfiguration" />
  </configSections>
  <MenuConfiguration>
    <CustomMenuItems>
      <CustomMenuItem name="MainModule" text="Parent Menu" order="1" active="true"/>
      <CustomMenuItem name="MenuA" text="Menu A" order="1" active="true" parent="MainModule"/>
      <CustomMenuItem name="MenuB" text="Menu B" order="2" active="true" parent="MainModule"/>
    </CustomMenuItems>
  </MenuConfiguration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>